#splitScreenDecision {
    display: flex;
}

#pickMovie,
#pickShow {
    display: flex;
    height: 100vh;
    width: 50%;
    justify-content: center;
    transition: all 1.2s;
    text-decoration: none;
    opacity: 30%;
    color: white;
    border: 2px solid rgb(31, 199, 177);
    margin: 0.5em;
}

#pickMovie div,
#pickShow div {
    margin: 45%;
    display: flex;
    align-content: center;
    justify-content: center;
}


#pickMovie:hover,
#pickShow:hover {
    opacity: 100%;
    color: rgb(31, 199, 177);
    letter-spacing: 1.05em;
}