#splitScreenDecision {
    display: flex;
}

#pickMovie,
#pickShow {
    display: flex;
    background-color: #2f2c2b;
    height: 100vh;
    width: 50%;
    justify-content: center;
    transition: all 1.2s;
    text-decoration: none;
    color: black;
}

#pickMovie div,
#pickShow div {
    margin: 45%;
    display: flex;
    align-content: center;
    justify-content: center;
}


#pickMovie:hover,
#pickShow:hover {
    opacity: 90%;
    background-color: #454140;
    color: rgb(31, 199, 177);
    letter-spacing: 1.1em;
}