body {
    margin: 0;
}

#mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#title {
    color: rgb(31, 199, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    letter-spacing: 1.1em;
}

#subtitle {
    color: rgb(31, 199, 177);
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    letter-spacing: 0.15em;
}

#startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5% 38% 0 38%;
    font-size: 0.9rem;
}

#startButton button {
    padding: 8px 45px 8px 45px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.1em;
    background: #454140;
    color: black;
    background: linear-gradient(to right, #454140 0%, #454140 50%, #474342 50%, #474342 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    font-weight: bold;
    transition: all 1s;
}


#startButton button:hover {
    background-position: 0 0;
    color: rgb(31, 199, 177);
    letter-spacing: 0.2em;
    font-weight: bolder;
}

@media (max-width: 1100px) {
    #title {
        font-size: 3vmax;
    }

    #startButton button {
        font-size: 0.75em;
    }
}

@media (max-width: 900px) {
    #title {
        font-size: 2.5vmax;
    }

    #subtitle {
        font-size: 2vmax;
    }

    #startButton button {
        padding: 5px 12px;
        font-size: 1.4vw;
    }
}

@media (max-width: 600px) {
    #title {
        font-size: 3vmin;
    }

    #subtitle {
        font-size: 2vmin;
    }

    #startButton button {
        padding: 3px 12px;
        font-size: 1.5vmin;
    }
}