body {
    margin: 0;
}

#mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#title {
    color: rgb(31, 199, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    letter-spacing: 1.1em;
}

#subtitle {
    color: rgb(31, 199, 177);
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    letter-spacing: 0.15em;
}

#startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5% 0 0 0;
    font-size: 1rem;
}

#startButton button {
    padding: 8px 45px 8px 45px;
    cursor: pointer;
    font-size: 1em;
    background-size: 200% 100%;
    border-radius: 10px;
    transition: all 1.5s;
    box-shadow: rgba(31, 199, 177, 0.418) 0px -30px 36px -28px inset;
    background-position: 0 0;
    color: rgb(31, 199, 177);
    font-weight: bolder;
    letter-spacing: 0.1em;
    background-color: black;
}


#startButton button:hover {
    transform: scale(1.1);
    letter-spacing: 0.2em;
}

@media (max-width: 1100px) {
    #title {
        font-size: 3vmax;
    }

    #startButton button {
        font-size: 0.75em;
    }
}

@media (max-width: 900px) {
    #title {
        font-size: 2.5vmax;
    }

    #subtitle {
        font-size: 2vmax;
    }

    #startButton button {
        padding: 5px 12px;
        font-size: 1.4vw;
    }
}

@media (max-width: 600px) {
    #title {
        font-size: 3.8vmin;
    }

    #subtitle {
        font-size: 2.8vmin;
    }

    #startButton button {
        padding: 5px 40px;
        font-size: 1.8vmin;
    }

    #mainPage {
        margin: 0 1px;
    }
}