body {
    margin: 0;
    background-color: #000000;
    font-family: 'Chakra Petch', sans-serif;
}

input {
    font-family: 'Chakra Petch', sans-serif;
}

button {
    font-family: 'Chakra Petch', sans-serif;
}